<div>
    <h2 class = 'Register'>Sign Up </h2>
    <form class = 'signupform'>
        <input class = 'forminput' type="text" placeholder="User name" id="usernameid"/>
        <input class = 'forminput' type="password" placeholder="Password" id="passwordid"/>
        <button class = 'btn btn-primary' type="submit">Register</button>
    </form>
    <div>
        <a href="/login">Back to Log In</a>
    </div>


</div>
<script src="./js/signUp.js"></script>